:root {
  --body-b-u-font-family: "Sora", Helvetica;
  --body-b-u-font-size: 20px;
  --body-b-u-font-style: normal;
  --body-b-u-font-weight: 700;
  --body-b-u-letter-spacing: 0px;
  --body-b-u-line-height: normal;
  --body-bold-font-family: "Sora", Helvetica;
  --body-bold-font-size: 20px;
  --body-bold-font-style: normal;
  --body-bold-font-weight: 600;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: normal;
  --body-r-u-font-family: "Sora", Helvetica;
  --body-r-u-font-size: 20px;
  --body-r-u-font-style: normal;
  --body-r-u-font-weight: 400;
  --body-r-u-letter-spacing: 0px;
  --body-r-u-line-height: normal;
  --body-regular-font-family: "Sora", Helvetica;
  --body-regular-font-size: 20px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 30px;
  --body-small-font-family: "Sora", Helvetica;
  --body-small-font-size: 16px;
  --body-small-font-style: normal;
  --body-small-font-weight: 400;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 30px;
  --button-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 1);
  --colour-base-base: rgba(255, 255, 255, 1);
  --colour-brand-body-light: rgba(255, 251, 244, 1);
  --colour-brand-primary: rgba(255, 102, 153, 1);
  --colour-brand-secondary: rgba(0, 0, 0, 1);
  --colour-decorative-blue-50: rgba(138, 241, 255, 1);
  --colour-decorative-blue-70: rgba(179, 246, 255, 1);
  --colour-decorative-blue-90: rgba(214, 250, 255, 1);
  --colour-decorative-green-50: rgba(118, 247, 174, 1);
  --colour-decorative-green-70: rgba(175, 250, 206, 1);
  --colour-decorative-green-90: rgba(207, 252, 227, 1);
  --colour-decorative-pink-70: rgba(255, 198, 231, 1);
  --colour-decorative-pink-90: rgba(255, 226, 243, 1);
  --colour-decorative-purple-50: rgba(179, 125, 255, 1);
  --colour-decorative-purple-70: rgba(217, 190, 255, 1);
  --colour-decorative-purple-90: rgba(240, 229, 255, 1);
  --colour-decorative-yellow-50: rgba(255, 233, 89, 1);
  --colour-decorative-yellow-70: rgba(255, 242, 155, 1);
  --colour-decorative-yellow-90: rgba(255, 248, 197, 1);
  --colour-feedback-danger-50: rgba(255, 84, 84, 1);
  --colour-feedback-danger-90: rgba(255, 214, 214, 1);
  --colour-feedback-success-50: rgba(60, 211, 157, 1);
  --colour-feedback-warning-50: rgba(255, 159, 105, 1);
  --colour-feedback-warning-90: rgba(255, 234, 209, 1);
  --h1-desktop-font-family: "Sora", Helvetica;
  --h1-desktop-font-size: 80px;
  --h1-desktop-font-style: normal;
  --h1-desktop-font-weight: 700;
  --h1-desktop-letter-spacing: 1.6px;
  --h1-desktop-line-height: normal;
  --h1-mobile-font-family: "Sora", Helvetica;
  --h1-mobile-font-size: 48px;
  --h1-mobile-font-style: normal;
  --h1-mobile-font-weight: 700;
  --h1-mobile-letter-spacing: 0px;
  --h1-mobile-line-height: normal;
  --h2-desktop-font-family: "Sora", Helvetica;
  --h2-desktop-font-size: 72px;
  --h2-desktop-font-style: normal;
  --h2-desktop-font-weight: 700;
  --h2-desktop-letter-spacing: 0px;
  --h2-desktop-line-height: normal;
  --h2-mobile-font-family: "Sora", Helvetica;
  --h2-mobile-font-size: 40px;
  --h2-mobile-font-style: normal;
  --h2-mobile-font-weight: 700;
  --h2-mobile-letter-spacing: 0px;
  --h2-mobile-line-height: normal;
  --h3-desktop-font-family: "Sora", Helvetica;
  --h3-desktop-font-size: 56px;
  --h3-desktop-font-style: normal;
  --h3-desktop-font-weight: 600;
  --h3-desktop-letter-spacing: 0px;
  --h3-desktop-line-height: normal;
  --h3-mobile-font-family: "Sora", Helvetica;
  --h3-mobile-font-size: 32px;
  --h3-mobile-font-style: normal;
  --h3-mobile-font-weight: 600;
  --h3-mobile-letter-spacing: 0px;
  --h3-mobile-line-height: normal;
  --h4-desktop-font-family: "Sora", Helvetica;
  --h4-desktop-font-size: 40px;
  --h4-desktop-font-style: normal;
  --h4-desktop-font-weight: 600;
  --h4-desktop-letter-spacing: 0px;
  --h4-desktop-line-height: normal;
  --h4-mobile-font-family: "Sora", Helvetica;
  --h4-mobile-font-size: 28px;
  --h4-mobile-font-style: normal;
  --h4-mobile-font-weight: 700;
  --h4-mobile-letter-spacing: 0px;
  --h4-mobile-line-height: normal;
  --primitives-color-brand-secondary: rgba(0, 0, 0, 1);
  --small-button-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFBF4;
  font-family: "Sora", Helvetica, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}